@mixin preview-width-at($width, $screen-width) {
  @media only screen and (min-width: $screen-width) {
    $height: calc($width * 1.414213);
    .preview {
      width: $width;
      height: $height;
    }
  }
}

@media only screen and (max-width: 30rem) {
  $width: 21rem;
  $height: calc($width * 1.414213);
  .preview {
    width: $width;
    height: $height;
  }
}
@include preview-width-at(42rem, 30rem);
@include preview-width-at(63rem, 40rem);
