$scale: 0.8;
@function scale-size($size) {
  @return $size * $scale;
}

$border-white-space: scale-size(2rem);

@mixin preview-width-at($width, $screen-width) {
  @media only screen and (min-width: $screen-width) {
    $height: calc($width * 1.414213);
    .preview {
      width: $width;
      height: $height;
    }
  }
}

@mixin vertical-div {
  border-image: linear-gradient(180deg, #515151 0%, #dfdfdf 100%) 1;
  border-left: scale-size(3px) solid;
  padding-left: scale-size(2rem);
}

@mixin horizontal-div {
  border-image: linear-gradient(90deg, #515151 0%, #dfdfdf 100%) 50;
  border-bottom: scale-size(3px) solid;
  margin-bottom: scale-size(1rem);
}

@media only screen and (max-width: 30rem) {
  $width: 21rem;
  $height: calc($width * 1.414213);
  .preview {
    width: $width;
    height: $height;
  }
}

@include preview-width-at(42rem, 30rem);
@include preview-width-at(63rem, 40rem);

.preview {
  border: 1px solid black;
  width: scale-size(800px);
  height: calc(scale-size(800px) * 1.414213);
  display: grid;
  grid-template:
    "top top top" min-content
    "contact profile profile" min-content
    "education experience experience" min-content;
  gap: scale-size(3rem);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cv-top {
  grid-area: top;
  background-color: rgba($color: #000000, $alpha: 0.05);
  display: grid;
  grid-template-areas: "name img" "title img";
  align-items: center;
  justify-content: space-between;
  padding: 0 scale-size(2rem);
  height: scale-size(15rem);
  text-transform: uppercase;
}

.cv-profile-img {
  grid-area: img;
  object-fit: cover;
  width: scale-size(13rem);
  height: scale-size(13rem);
  border-radius: 50%;
}

.cv-name {
  letter-spacing: scale-size(0.4rem);
  font-size: scale-size(3.3rem);
  color: rgba($color: #000000, $alpha: 0.75);
}

.cv-job-title {
  letter-spacing: scale-size(0.3rem);
  font-size: scale-size(2.3rem);
  color: rgba($color: #000000, $alpha: 0.75);
  align-self: baseline;
  grid-area: title;
}

.section-title {
  font-size: scale-size(2.5rem);
  color: rgba($color: #000000, $alpha: 0.85);
  text-transform: uppercase;
  letter-spacing: scale-size(0.4rem);
  padding-left: scale-size(0.7rem);
  @include horizontal-div();
}

.contact {
  display: flex;
  flex-direction: column;
  gap: scale-size(1rem);
  grid-area: contact;
  padding-left: $border-white-space;
  max-width: scale-size(25rem);

  @mixin contact-icon($url) {
    display: flex;
    gap: scale-size(1rem);
    align-items: center;
    &::before {
      content: '';
      background: $url;
      min-height: scale-size(2rem);
      min-width: scale-size(2rem);
      display: inline-block;
    }
  }
  .email {
    @include contact-icon(url(../icons/mail-svgrepo-com.svg));
  }

  .phone-number {
    @include contact-icon(url(../icons/phone-call-svgrepo-com.svg));
  }

  .location {
    @include contact-icon(url(../icons/location-svgrepo-com.svg));
  }

  .linkedin {
    @include contact-icon(url(../icons/linkedin-svgrepo-com.svg));
  }

  .website {
    @include contact-icon(url(../icons/link-svgrepo-com.svg));
  }
}

.experiences {
  grid-area: experience;
  padding-right: $border-white-space;
  @include vertical-div();
}

.profile {
  grid-area: profile;
  padding-right: $border-white-space;
  @include vertical-div();
}

.educations {
  grid-area: education;
  padding-left: $border-white-space;
  max-width: scale-size(25rem);
}
